@model PokerStrategy.Web.ViewModels.Home.HomeIndexModel
<head>
	<link rel="stylesheet" type="text/css" href="~/css/site.css" />

</head>

<header>
	<div class="container body-content">
		<div class="row frontPageSplash">
			<div class="col-lg-12">
				<div class="frontPageHeading">
					<h1>Welcome to PokerStrategy</h1>
				</div>
			</div>
		</div>
	</div>
</header>


<br/>
<br/>
<div class="row frontPageContent">

	<div class="col-lg-8">
		<h3 id="latestNews">Latest News</h3> 
		@foreach (var n in Model.LatestNews)
		{
			<a href="#">
				<div class="card">
					<div class="row no-gutters">
						<div class="col-auto">
							<img src="//placehold.it/200x200" class="img-fluid" alt="">
						</div>
						<div class="col">
							<div class="card-block px-2 bg-dark">

								<h3 class="card-title">@n.Title</h3>
								<p class="card-text">@n.ShortContent</p>

							</div>
						</div>
					</div>
				</div>
			</a>
			<br />
		}
	</div>
	<br/>
	<div class="col-lg-4">

		<form asp-controller="Search" asp-action="Search" method="post">
			<input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Search the Site" />
		</form>
		<br/>
		<h3 id="latestPosts">Latest Discussions</h3>
		<table class="table table-hover" id="latestPostsTable">
			<tbody>
				@foreach (var t in Model.LatestThreads)
				{
					<tr>
						<td>
							<a asp-controller="ForumThread" asp-action="Thread" asp-route-id="@t.Id">
								<div class="postTitle">
									@(t.Title)
								</div>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
		<br/>

		<h3 id="latestNews">Latest Videos</h3> <!----------------------TO DO, CHANGE TO VIDEOS-->
		@foreach (var t in Model.LatestThreads)
		{
			<a href="#">
				<div class="card">
					<div class="row no-gutters">
						<div class="col-auto">
							<img src="//placehold.it/150x150" class="img-fluid" alt="">
						</div>
						<div class="col">
							<div class="card-block px-2">

								<h4 class="card-title">Title</h4>
								<p class="card-text">Description</p>

							</div>
						</div>
					</div>
					<!--
				<div class="card-footer w-100 text-muted">
					Footer stating cats are CUTE little animals
				</div>-->
				</div>
			</a>
			<br />
		}

	</div>
</div>









