@model PokerStrategy.Web.ViewModels.Forum.ForumIndexModel
	<head>
		<link rel="stylesheet" type="text/css" href="~/css/site.css" />
	</head>
<h1>Forum Categories</h1>
<table class= "table table-hover table-custom" id="forumIndexTable">
	<tbody>
		@foreach (var cat in Model.ForumList)
		{
		<tr>
			<td>
				<a asp-controller="Forum"
				   asp-action="Category"
				   asp-route-id="@cat.Id">
					<b>@cat.Title</b>
				</a>
			</td>
			<td style="text-align: left;">
				@cat.Description
			</td>
		</tr>
		}
	</tbody>
</table>