@model PokerStrategy.Web.ViewModels.Videos.VideoViewModel
<head>
	<link rel="stylesheet" type="text/css" href="~/css/site.css" />
	@{ViewBag.Title = "Edit Video"; }
</head>

<form method="post" asp-area="Administration" asp-controller="Admin" asp-action="EditVideoById">
	<input hidden asp-for="Id" />
	<div>
		<div class="col-lg-8">
			<label asp-for="Title">Title</label>
			<input asp-for="Title" style="color:black" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<br />
		<div class="col-lg-4 float-left">
			<label asp-for="VideoUrl">Image Url</label>
			<input asp-for="VideoUrl" style="color:black" class="form-control" />
			<span asp-validation-for="VideoUrl" class="text-danger"></span>
		</div>
		<div class="col-lg-8 float-right">
			<label asp-for="Description">Content</label>
			<textarea asp-for="Description" class="form-control"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<hr />
		<input type="submit" class="btn btn-primary" style="margin-left: 145px; margin-top: 28px;" value="Update" />
	</div>
</form>