@model PokerStrategy.Web.ViewModels.News.NewsViewModel
<head>
	<link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>

<form method="post" asp-area="Administration" asp-controller="Admin" asp-action="EditNewsById">
	<input hidden asp-for="Id"/>
	<div>
		<div class="col-lg-8">
			<label asp-for="Title">Title</label>
			<input asp-for="Title" style="color:black" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<br />
		<div class="col-lg-4 float-left">
			<label asp-for="PictureUrl">Image Url</label>
			<input asp-for="PictureUrl" style="color:black" class="form-control" />
			<span asp-validation-for="PictureUrl" class="text-danger"></span>
		</div>
		<div class="col-lg-8 float-right">
			<label asp-for="Content">Content</label>
			<textarea asp-for="Content" class="form-control"></textarea>
			<span asp-validation-for="Content" class="text-danger"></span>
		</div>
		<hr />
		<input type="submit" class="btn btn-primary" style="margin-left: 145px; margin-top: 28px;" value="Update" />
	</div>
</form>